.how-work-container{
    margin-top: 5rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title{
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3{
            color: #585858;
        }
        h1{
            margin: 0;
        }
    }
    .how-work-cards{
        width: 100%;
        height: 100%;
        display: flex;
        gap: 4rem;
        justify-content: center;
        .how-work-card{
            box-sizing: border-box;
            box-shadow: 0px 10px 24px 6px #0000006e;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 22%;
            border-radius: 5px;
            h4{

            }
            img{
                width: 100%;
                height: 180px;
                object-fit: cover;
            }
            p{
                padding: 1.2rem 2rem;
                box-sizing: border-box;
                text-align: center;
                text-align: left;
            }
            
        }
    }
    button{
        margin-top: 3rem;
        box-sizing: border-box;
        padding: 12px 30px;
        background-color: rgb(205, 2, 2);
        color: white;
        border: none;
        border-radius: 20px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            background-color: rgb(30, 30, 30);
            color: white;
            transition: 0.4s ease;
        }
    }
}

@media only screen and (max-width:1558px){
    .how-work-container .how-work-cards .how-work-card p {
        padding: 1rem 1rem;
        box-sizing: border-box;
        text-align: center;
        text-align: left;
        font-size: 15px;
    }
    .how-work-container .how-work-cards .how-work-card {
        box-sizing: border-box;
        box-shadow: 0px 10px 24px 6px rgb(0 0 0 / 43%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 355px;
        border-radius: 5px;
    }
}
@media only screen and (max-width:1250px){
    .how-work-container .how-work-cards .how-work-card {
        box-sizing: border-box;
        box-shadow: 0px 10px 24px 6px rgb(0 0 0 / 43%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        border-radius: 5px;
    }
}
@media only screen and (max-width:1060px){
    .how-work-container .how-work-cards .how-work-card {
        box-sizing: border-box;
        box-shadow: 0px 10px 24px 6px rgb(0 0 0 / 43%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 250px;
        border-radius: 5px;
        flex-wrap: wrap;
    }
    .how-work-container .how-work-cards .how-work-card p {
        padding: 0rem 1rem;
        box-sizing: border-box;
        text-align: center;
        text-align: left;
        font-size: 14px;
    }
}
@media only screen and (max-width:900px){
    .how-work-container .how-work-cards {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 4rem;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .how-work-container .how-work-cards .how-work-card {
        box-sizing: border-box;
        box-shadow: 0px 10px 24px 6px rgb(0 0 0 / 43%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 450px;
        border-radius: 5px;
        flex-wrap: wrap;
    }
    .how-work-container .how-work-cards .how-work-card h4{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 18px;
    }
    .how-work-container .how-work-cards .how-work-card img {
        width: 100%;
        height: 215px;
        object-fit: cover;
    }
    .how-work-container .how-work-cards .how-work-card p {
        padding: 2rem 1rem;
        box-sizing: border-box;
        text-align: center;
        text-align: left;
        font-size: 16px;
    }
}
@media only screen and (max-width:500px){
    .how-work-container .how-work-cards .how-work-card {
        box-sizing: border-box;
        box-shadow: 0px 10px 24px 6px rgb(0 0 0 / 43%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 340px;
        border-radius: 5px;
        flex-wrap: wrap;
    }
    .how-work-container .how-work-cards .how-work-card p {
        padding: 2rem 1rem;
        box-sizing: border-box;
        text-align: center;
        text-align: left;
        font-size: 14px;
    }
    .how-work-container .how-work-cards .how-work-card h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 16px;
    }
    .how-work-container .title h1 {
        margin: 0;
        font-size: 22px;
    }
}
@media only screen and (max-width:450px){
    .work-whith-uss-container .contact-uss .contact .phone-mail {
        display: flex;
        gap: 1rem !important;
        margin-top: 1rem;
        margin-bottom: 2rem;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        justify-content: start;
    }
    .work-whith-uss-container {
        background-color: #202020;
        padding: 0.5rem 0rem;
        box-sizing: border-box;
    }
    .work-whith-uss-container .contact-uss h1 {
        font-weight: 400;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        margin: 0;
    }
    .work-whith-uss-container .contact-uss h4 {
        font-weight: 300;
        padding: 0;
        margin: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .how-work-container .how-work-cards .how-work-card {
        box-sizing: border-box;
        box-shadow: 0px 10px 24px 6px rgb(0 0 0 / 43%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 5px;
        flex-wrap: wrap;
    }
    .how-work-container .title h1 {
        margin: 0;
        font-size: 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
