.how-work-container{
    margin-top: 5rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title{
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3{
            color: #585858;
        }
        h1{
            margin: 0;
        }
    }
    .how-work-cards{
        width: 100%;
        height: 100%;
        display: flex;
        gap: 4rem;
        justify-content: center;
        .how-work-card{
            box-sizing: border-box;
            box-shadow: 0px 10px 24px 6px #0000006e;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 22%;
            border-radius: 5px;
            h4{

            }
            img{
                width: 100%;
                height: 180px;
                object-fit: cover;
            }
            p{
                padding: 1.2rem 2rem;
                box-sizing: border-box;
                text-align: center;
                text-align: left;
            }
            
        }
    }
    button{
        margin-top: 3rem;
        box-sizing: border-box;
        padding: 12px 30px;
        background-color: rgb(205, 2, 2);
        color: white;
        border: none;
        border-radius: 20px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            background-color: rgb(30, 30, 30);
            color: white;
            transition: 0.4s ease;
        }
    }
}