$red-color:rgb(182, 17, 17);



@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-center-nw-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

@mixin flex-end-nw-r {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

@mixin flex-center-w-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}


@mixin button-red {
    box-sizing: border-box;
    padding:12px 30px;
    background-color: $red-color;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
@mixin button-red-800px{
    box-sizing: border-box;
    padding: 10px 19px;
    background-color: rgb(182, 17, 17);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}